[alias]
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  oneline = log --pretty=oneline
[user]
	email = alimohsinn@hotmail.com
	name = Ali Mohsin Naqvi
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
